//
// Modules
//

@import "watercolor/modules/grid";

//
// Body
//

body {
	position: relative;
	background-color: #fff;
	background-image: none;
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: center top;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
}

//
// Container
//

.container {	
	@include container;
}

//
// Resets
//

body,
#content,
#footer {
	margin: 0;
	padding: 0;
	text-align: left;
	clear: both;
}

//
// Header
//

#header {
	position: relative;
	padding: $line-height * 4em 0 $line-height * 1em 0;
	background-color: $primary-color;
	color: #fff;
	text-align: center;

	&:after {
		content: "";
		position: absolute;
		left: 50%;
		bottom: $line-height * -2em;
		margin-left: $line-height * -1em;
		border-width: $line-height * 1em;
		border-style: solid;
		border-color: transparent;
		border-top-color: $primary-color;
	}

	h1 {
		line-height: 1.1;
		letter-spacing: -2px;
		color: inherit;
	}

	h1 small {
		display: block;
		font-size: .5em;
		letter-spacing: 0;
		opacity: .5;
	}

	a {
		color: #fff;
		text-decoration: underline;

		&:hover {
			color: rgba(255,255,255,0.6);
		}
	}
}

//
// Main
//

#main {
	//@include clear-children;
	
	section {
		padding: $line-height * 2em 0;
		border-bottom: 1px solid $border-color;
		text-align: center;
		
		&:last-child {
			border: 0;
		}
	}
}

//
// Footer
//

#footer {
	padding: $line-height * 1em 0;
	background-color: #f2f3f5;
	text-align: center;
	//@include clear-children;
}