<?xml version="1.0" encoding="utf-8"?>
<ArrayOfSitemapNode xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <SitemapNode>
    <Name>custom.About</Name>
    <Title>About Me</Title>
    <Description>More about me, clint kolodziej, web designer, logo designer, programmer, and general good guy..</Description>
    <Keywords>clint kolodziej,clint,kolodziej,web,designer,design,logo</Keywords>
    <Icon>default</Icon>
    <Parent>custom.Home</Parent>
    <Route>custom.About</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.Admin</Name>
    <Title>Administration</Title>
    <Description>Website administration dashboard</Description>
    <Keywords>administration</Keywords>
    <Icon>admin</Icon>
    <Parent>custom.Home</Parent>
    <Route>flamebug.Admin</Route>
    <RouteParameters>page=</RouteParameters>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.AdvancedSettings</Name>
    <Title>Advanced</Title>
    <Description>Manage the advanced website settings</Description>
    <Keywords>advanced, settings</Keywords>
    <Icon>advancedsettings</Icon>
    <Parent>flamebug.AdminSettings</Parent>
    <Route>flamebug.AdvancedSettings</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.Background</Name>
    <Title>Background</Title>
    <Description>Change the background image for the website</Description>
    <Keywords>background</Keywords>
    <Icon>background</Icon>
    <Parent>flamebug.AdminVisual</Parent>
    <Route>flamebug.Background</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.ContactAdmin</Name>
    <Title>Contact</Title>
    <Description>Manage the contact form settings</Description>
    <Keywords>contact</Keywords>
    <Icon>contact</Icon>
    <Parent>flamebug.AdminSettings</Parent>
    <Route>flamebug.ContactAdmin</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.Contact</Name>
    <Title>Contact Me</Title>
    <Description>Contact Me</Description>
    <Keywords>contact</Keywords>
    <Icon>contact</Icon>
    <Parent>custom.Home</Parent>
    <Route>flamebug.Contact</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.AdminContent</Name>
    <Title>Content</Title>
    <Description>Manage website content</Description>
    <Keywords>content</Keywords>
    <Icon>content</Icon>
    <Parent>flamebug.Admin</Parent>
    <Route>flamebug.Admin</Route>
    <RouteParameters>page=Content</RouteParameters>
	<Url>/Admin/Content</Url>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.CssSample</Name>
    <Title>Css Sample Page</Title>
    <Description>Css Sample Page</Description>
    <Keywords>css</Keywords>
    <Icon>css</Icon>
    <Parent>flamebug.AdminDevelopment</Parent>
    <Route>flamebug.CssSample</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.AdminDevelopment</Name>
    <Title>Development</Title>
    <Description>Development Tools and Test Pages</Description>
    <Keywords>development</Keywords>
    <Icon>visual</Icon>
    <Parent>flamebug.Admin</Parent>
    <Route>flamebug.Admin</Route>
    <RouteParameters>page=Development</RouteParameters>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.Error</Name>
    <Title>Error</Title>
    <Description>Error</Description>
    <Keywords />
    <Icon>home</Icon>
    <Parent>custom.Home</Parent>
    <Route>flamebug.Error</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.Favicon</Name>
    <Title>Favicon</Title>
    <Description>Manage the favicon for the website</Description>
    <Keywords>favicon</Keywords>
    <Icon>favicon</Icon>
    <Parent>flamebug.AdminVisual</Parent>
    <Route>flamebug.Favicon</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.Features</Name>
    <Title>Features</Title>
    <Description>Manage the features installed on your website</Description>
    <Keywords>features</Keywords>
    <Icon>features</Icon>
    <Parent>flamebug.Admin</Parent>
    <Route>flamebug.Features</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.Fonts</Name>
    <Title>Fonts</Title>
    <Description>Manage fonts installed on the website</Description>
    <Keywords>fonts</Keywords>
    <Icon>fonts</Icon>
    <Parent>flamebug.AdminVisual</Parent>
    <Route>flamebug.Fonts</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.Galleries</Name>
    <Title>Galleries</Title>
    <Description>Galleries</Description>
    <Keywords>galleries</Keywords>
    <Icon>galleries</Icon>
    <Parent>custom.Home</Parent>
    <Route>flamebug.Galleries</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.GalleriesAdmin</Name>
    <Title>Galleries</Title>
    <Description>Galleries</Description>
    <Keywords>galleries</Keywords>
    <Icon>galleries</Icon>
    <Parent>flamebug.AdminContent</Parent>
    <Route>flamebug.GalleriesAdmin</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.General</Name>
    <Title>General</Title>
    <Description>General website settings</Description>
    <Keywords>general, settings</Keywords>
    <Icon>general</Icon>
    <Parent>flamebug.AdminSettings</Parent>
    <Route>flamebug.General</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.Grid</Name>
    <Title>Grid</Title>
    <Description>Manage the grid layout of the website</Description>
    <Keywords>grid</Keywords>
    <Icon>grid</Icon>
    <Parent>flamebug.AdminVisual</Parent>
    <Route>flamebug.Grid</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>custom.Home</Name>
    <Title>Home</Title>
    <Description>Welcome to Clint Kolodziej's online home, featuring portfolio works focusing on web design, logo design, programming, and various musings.</Description>
    <Keywords>clint kolodziej,clint,kolodziej,design,web,logo,programming</Keywords>
    <Icon>home</Icon>
    <Route>custom.Home</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.ImagesAdmin</Name>
    <Title>Images</Title>
    <Description>Images</Description>
    <Keywords>images</Keywords>
    <Icon>images</Icon>
    <Parent>flamebug.AdminContent</Parent>
    <Route>flamebug.ImagesAdmin</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.ImagesSettingsAdmin</Name>
    <Title>Images</Title>
    <Description>Images Settings</Description>
    <Keywords>images, settings</Keywords>
    <Icon>images</Icon>
    <Parent>flamebug.AdminSettings</Parent>
    <Route>flamebug.ImagesSettingsAdmin</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.Log</Name>
    <Title>Log</Title>
    <Description>View the website log</Description>
    <Keywords>log, security</Keywords>
    <Icon>log</Icon>
    <Parent>flamebug.AdminSecurity</Parent>
    <Route>flamebug.Log</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.Login</Name>
    <Title>Login</Title>
    <Description>Sign in to the website</Description>
    <Keywords>login</Keywords>
    <Icon>login</Icon>
    <Parent>custom.Home</Parent>
    <Route>flamebug.Login</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.Logo</Name>
    <Title>Logo</Title>
    <Description>Manage the logo displayed on the website</Description>
    <Keywords>logo</Keywords>
    <Icon>logo</Icon>
    <Parent>flamebug.AdminVisual</Parent>
    <Route>flamebug.Logo</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.Navigation</Name>
    <Title>Navigation</Title>
    <Description>Manage the website navigation</Description>
    <Keywords>navigation</Keywords>
    <Icon>navigation</Icon>
    <Parent>flamebug.AdminContent</Parent>
    <Route>flamebug.Navigation</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.Pages</Name>
    <Title>Pages</Title>
    <Description>Manage the pages available on the website</Description>
    <Keywords>pages</Keywords>
    <Icon>pages</Icon>
    <Parent>flamebug.AdminContent</Parent>
    <Route>flamebug.Pages</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.Password</Name>
    <Title>Password</Title>
    <Description>Change your password</Description>
    <Keywords>password</Keywords>
    <Icon>password</Icon>
    <Parent>flamebug.AdminProfile</Parent>
    <Route>flamebug.Password</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.Performance</Name>
    <Title>Performance</Title>
    <Description>Manage settings related to website performance</Description>
    <Keywords>performance</Keywords>
    <Icon>performance</Icon>
    <Parent>flamebug.AdminSettings</Parent>
    <Route>flamebug.Performance</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>custom.Portfolio</Name>
    <Title>Portfolio</Title>
    <Description>Portfolio</Description>
    <Keywords />
    <Icon>default</Icon>
    <Parent>custom.Home</Parent>
    <Route>custom.Portfolio</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.AdminProfile</Name>
    <Title>Profile</Title>
    <Description>Manage your profile</Description>
    <Keywords>profile</Keywords>
    <Icon>profile</Icon>
    <Parent>flamebug.Admin</Parent>
    <Route>flamebug.Admin</Route>
    <RouteParameters>page=Profile</RouteParameters>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.RecoverPassword</Name>
    <Title>Recover Password</Title>
    <Description>Recover your password</Description>
    <Keywords>recover, password</Keywords>
    <Icon>recoverpassword</Icon>
    <Parent>custom.Home</Parent>
    <Route>flamebug.RecoverPassword</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.Roles</Name>
    <Title>Roles</Title>
    <Description>Manage the roles on the website</Description>
    <Keywords>roles</Keywords>
    <Icon>roles</Icon>
    <Parent>flamebug.AdminSecurity</Parent>
    <Route>flamebug.Roles</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.AdminSecurity</Name>
    <Title>Security</Title>
    <Description>Manage website users and security settings</Description>
    <Keywords>security</Keywords>
    <Icon>security</Icon>
    <Parent>flamebug.Admin</Parent>
    <Route>flamebug.Admin</Route>
    <RouteParameters>page=Security</RouteParameters>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.Security</Name>
    <Title>Security</Title>
    <Description>Manage the security settings</Description>
    <Keywords>security</Keywords>
    <Icon>security</Icon>
    <Parent>flamebug.AdminSettings</Parent>
    <Route>flamebug.Security</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.SecurityQuestion</Name>
    <Title>Security Question</Title>
    <Description>Change your security question used to reset your password</Description>
    <Keywords>security, question</Keywords>
    <Icon>securityquestion</Icon>
    <Parent>flamebug.AdminProfile</Parent>
    <Route>flamebug.SecurityQuestion</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.AdminSettings</Name>
    <Title>Settings</Title>
    <Description>Website settings</Description>
    <Keywords>settings</Keywords>
    <Icon>settings</Icon>
    <Parent>flamebug.Admin</Parent>
    <Route>flamebug.Admin</Route>
    <RouteParameters>page=Settings</RouteParameters>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.Test</Name>
    <Title>Test</Title>
    <Description>Test</Description>
    <Keywords>test</Keywords>
    <Icon>test</Icon>
    <Parent>flamebug.AdminDevelopment</Parent>
    <Route>flamebug.Test</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.Themes</Name>
    <Title>Themes</Title>
    <Description>Change the theme for the website</Description>
    <Keywords>themes</Keywords>
    <Icon>themes</Icon>
    <Parent>flamebug.AdminVisual</Parent>
    <Route>flamebug.Themes</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.Users</Name>
    <Title>Users</Title>
    <Description>Manage the users on the website</Description>
    <Keywords>users</Keywords>
    <Icon>users</Icon>
    <Parent>flamebug.AdminSecurity</Parent>
    <Route>flamebug.Users</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.AdminVisual</Name>
    <Title>Visual</Title>
    <Description>Change the look and feel of the website</Description>
    <Keywords>visual</Keywords>
    <Icon>visual</Icon>
    <Parent>flamebug.Admin</Parent>
    <Route>flamebug.Admin</Route>
    <RouteParameters>page=Visual</RouteParameters>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.Welcome</Name>
    <Title>Welcome To Flamebug</Title>
    <Description>Welcome To Flamebug</Description>
    <Keywords />
    <Icon>home</Icon>
    <Parent>custom.Home</Parent>
    <Route>flamebug.Welcome</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>custom.YouTube</Name>
    <Title>YouTube Test</Title>
    <Description />
    <Keywords />
    <Icon>default</Icon>
    <Parent>custom.Home</Parent>
    <Route>custom.YouTube</Route>
  </SitemapNode>
  <SitemapNode>
    <Name>flamebug.Controls</Name>
    <Title>Controls Sample Page</Title>
    <Description>Controls Sample Page</Description>
    <Keywords>controls</Keywords>
    <Icon>controls</Icon>
    <Parent>flamebug.AdminDevelopment</Parent>
    <Route>flamebug.Controls</Route>
  </SitemapNode>
</ArrayOfSitemapNode>