//
// Modules
//

@import "../../modules/typography";

//
// Form
//

fieldset {
	margin: $line-height * 1em - (1 / ($body-font-size * 16) * 1em) 0;
	padding: 0 $line-height * 1em;
	border-color: $border-color;
}

//
// Text Inputs
//

textarea,
select,
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
	box-sizing: border-box;
	font: inherit;
	padding: 0 .375em;
	margin: -1px 0;
	border: 1px solid $border-color;
	background-color: #fff;
	color: $input-color;
	border-radius: .2em;

	&:focus {
		color: $input-focus-color;
	}
}

input:invalid,
textarea:invalid {
	border-color: red;
}

select {
	//unlike other form inputs a select doesn't use line-height, we need to add padding to get it there
	padding: (2 / ($body-font-size * 16) * 1em) 0 (1 / ($body-font-size * 16) * 1em) .375em;
}