@{
	ViewBag.Title = "Not Found";
}

@section Styles {
	<link rel="stylesheet" href="@Url.Content("~/Styles/Pages/404.css")">
}

<header>

	<div class="container">

		<a class="logo" href="/"></a>

		<h1>
			Oh No!
			<small>(Something bad must have happened)</small>
		</h1>

	</div>

</header>

<section id="not-found" class="container">

	<article>

		<img src="/Images/Error/error.svg" />

		<h3>The page you have requested was not found</h3>

		<p>In the meantime, feel free to <a href="/">visit our homepage</a>, we are sure that is still there.</p>

	</article>
	
</section>