//
// Modules
//

@import "../../modules/grid";

//
// Quote
//

blockquote {
	margin-top: $line-height * 1em;
	margin-bottom: $line-height * 1em;
	padding-left: 1em;
	border-left: .25em solid $border-color;
}