//
// Modules
//

@import "watercolor/modules/grid";

//
// Example & Code
//

.example {
	position: relative;
	padding: $line-height * 1em $line-height * 1em 0 $line-height * 1em;
	border: 1px solid $border-color;
	margin-top: $line-height * 1em;
	text-align: left;
	
	//typographic grid
	background-position: center -1px;
	background-size: 100% $base-font-size * $line-height * 16px;
	background-image: linear-gradient(to bottom, #fbfbfb 1px, transparent 1px);
	
	@include clear-children;
}

pre[class*="language-"] {
	position: relative;
	margin-top: $line-height * 1em;
	margin-bottom: 0;
	padding-top: $line-height * 1em;
}

.example:before,
pre[class*="language-"]:before {
	position: absolute;
	text-transform: uppercase;
	text-shadow: none;
	top: -1px;
	left: -1px;
	padding: .25em .5em;
	border: 1px solid $border-color;
	background: rgba(0,0,0,0.01);
	color: #cacaca;
	font-size: 12px;
	font-family: Helvetica, Arial, sans-serif;
}

.example ~ pre[class*="language-"],
pre[class*="language-"] ~ pre[class*="language-"]
 {
	margin-top: 0;
	border-top: 0;
}

.example:before {
	content: "HTML";
}

pre.language-markup:before {
	content: "HTML";
}

pre.language-css:before {
	content: "SCSS";
}