//
// Site-Specific Global Variables
//

$body-font-family: 'Roboto', sans-serif;
$body-font-weight: 300;

$header-font-family: 'Roboto', sans-serif;
$header-font-weight: 500;

$primary-color: #ea9462;
$secondary-color: #8cbfde;
