//
// Insert the given content within a media query given the breakpoint size (extra-small, small, medium, large, extra-large)
//

@mixin breakpoint($point) {
	$column-size: $column-width + $gutter-width;
	$small-break: $column-size * 6 + $gutter-width;          // add extra gutter to deal with scrollbars included in viewport width
	$medium-break: $column-size * 8 + $gutter-width;         // add extra gutter to deal with scrollbars included in viewport width
	$large-break: $column-size * 12 + $gutter-width;         // add extra gutter to deal with scrollbars included in viewport width
	$extra-large-break: $column-size * 16 + $gutter-width;   // add extra gutter to deal with scrollbars included in viewport width

	//note: extra-small should be your default using mobile-first design methodology, so there is no need for a media-query

	@if $point == small {
		@media screen and (min-width: $small-break) { @content; }
	}
	@else if $point == medium {
		@media screen and (min-width: $medium-break) { @content; }
	}
	@else if $point == large {
		@media screen and (min-width: $large-break)  { @content; }
	}
	@else if $point == extra-large {
		@media screen and (min-width: $extra-large-break)  { @content; }
	}
}

//
// Set the width of the page container (for use in defining your site's container breakpoints)
//

@mixin page-width($cols) {
	width: $cols * ($column-width + $gutter-width);
}

//
// Set the number of columns an element spans on the grid
//

@mixin column($cols) {
	display: inline;
	float: left;
	width: $cols * ($column-width + $gutter-width) - $gutter-width;
	margin-left: $gutter-width / 2;
	margin-right: $gutter-width / 2;
}

//
// Set the element to span the entire grid width
//

@mixin max-column() {
	display: block;
	float: none;
	margin-left: $gutter-width / 2;
	margin-right: $gutter-width / 2;
}

//
// Set the number of empty columns that should prefix the element on the grid
//

@mixin prefix($cols) {
	margin-left: ($cols * ($column-width + $gutter-width)) + ($gutter-width / 2);
}

//
// Set the number of empty columns that should follow the element on the grid
//

@mixin suffix($cols) {
	margin-right: ($cols * ($column-width + $gutter-width)) + ($gutter-width / 2);
}

//
// clear any children within the element
//

@mixin clear-children() {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}