//
// Hint
//

@mixin hint() {

	box-sizing: border-box;
	position: absolute;
	display: inline-block;
	visibility: hidden;
	opacity: 0;
	background: #444;
	color: #fff;
	padding: .25em .5em;
	margin-left: .75em;
	text-align: center;
	transition: all .25s linear;
	z-index: 1;

	&:before {
		content: " ";
		position: absolute;
		top: 1em;
		left: -1em;
		opacity: 0;
		width: 0;
		height: 0;
		margin-top: -.5em;
		border-width: .5em;
		border-style: solid;
		border-color: #444;
		border-top-color: transparent;
		border-left-color: transparent;
		border-bottom-color: transparent;
		transition: all .25s linear;
	}

	*:invalid + & {
		background: red;

		&:before {
			border-right-color: red;
		}
	}

	*:focus + & {
		visibility: visible;
		opacity: 1;

		&:before {
			opacity: 1;
		}
	}

}