//
// Calculate body font-size and line-height in pixels for vertical rhythm calculations.
//

$body-font-size-px: $body-font-size * 16;  // note: rem-based media queries are based on initial font-size so we are assuming an initial html element font-size of 100%/16px
$body-line-height-px: $body-font-size-px * $line-height;

//
// Display the table with padding
//

@mixin table-padded() {
	th,
	td {
		padding-top: ceil($body-line-height-px * 0.25 * 1px);
		padding-bottom: floor($body-line-height-px * 0.25 * 1px);
		padding-left: $line-height * 0.5em;
		padding-right: $line-height * 0.5em;
	}
}

//
// Display the table with a border
//

@mixin table-bordered() {
	margin-top: (($body-line-height-px - 1) / $body-line-height-px) * $line-height * 1em;
	margin-bottom: (($body-line-height-px - 1) / $body-line-height-px) * $line-height * 1em;
	border: 1px solid $border-color;
	border-left: 0;

	th,
	td {
		border-left: 1px solid $border-color;
	}
}

//
// Display the table with odd columns having a background color
//

@mixin table-striped() {
	tbody > tr:nth-child(odd) > td,
	tbody > tr:nth-child(odd) > th {
		background-color: rgba(0,0,0,0.01);
	}
}
