//
// Modules
//

@import "../../../library/modules/button";

//
// Button
//

.button {
	display: inline-block;
	padding: .75em 1.25em;
	background: $secondary-color;
	color: #fff !important;
	text-decoration: none !important;
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
	transition: all, .1s;

	&:hover {
		background: darken($secondary-color, 10%);
        border: none;
	}
}

//
// Form Button
//

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {

	&.hero {
		@include button(hero);
	}

	&.large {
		@include button(large);
	}

	&.small {
		@include button(small);
	}

	&.link {
		@include button(link);
	}

	&.primary {
		@include button(primary);
	}

	&.positive {
		@include button(positive);
	}

	&.warning {
		@include button(warning);
	}

	&.negative {
		@include button(negative);
	}
}