//
// Modules
//

@import "../../../library/modules/typography";

//
// Logo
//

.logo {
    display: block;
    height: 200px;
    width: 200px;
    margin: 0 auto $line-height * 1em auto;
    background-color: $secondary-color;
    background-image: url(/Images/Logo/flamebug-logo-white.svg);
    background-repeat: no-repeat;
    background-position: center 40%;
    background-size: 75%;
    border-radius: 50%;
}

#nav > .logo {
	float: left;
	height: 2.5em;
	width: 2.5em;
	margin: .5em 1em .5em 1em;
	line-height: 3.5em;
	vertical-align: middle; 
}