//
// Badge Defaults
//

$badge-padding: 0 .5em;
$badge-background-color: #b44;
$badge-color: #FFF;
$badge-border: 2px solid #fff;
$badge-box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
$badge-border-radius: 1em;
$badge-text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
$badge-font-size: .75em;
$badge-offset: -12px;
