//
// Label Defaults
//

$label-padding: 0 .75em;
$label-background-color: #999;
$label-color: #fff;
$label-border-radius: .3em;

$label-primary-background-color: #2a75d1;
$label-primary-color: #fff;

$label-positive-background-color: #0eb249;
$label-positive-color: #fff;

$label-warning-background-color: #fb0;
$label-warning-color: #fff;

$label-negative-background-color: #b44;
$label-negative-color: #fff;