//
// Tag Defaults
//

$tag-padding: 0 .75em;
$tag-background-color: #999;
$tag-color: #fff;
$tag-border-radius: 1em;

$tag-primary-background-color: #2a75d1;
$tag-primary-color: #fff;

$tag-positive-background-color: #0eb249;
$tag-positive-color: #fff;

$tag-warning-background-color: #fb0;
$tag-warning-color: #fff;

$tag-negative-background-color: #b44;
$tag-negative-color: #fff;