@{
	Layout = "~/Views/Shared/_Unstyled.cshtml";
}

<h1>Watercolor Demo</h1>
<p>This is a demo of Watercolor Typography.</p>
<h2>Getting Started</h2>
<p>Add Watercolor to your website in the following steps, its super-easy:</p>
<ol>
	<li>Download Watercolor</li>
	<li>Copy Into Your Website</li>
	<li>Design Your Website</li>
</ol>

<h3>Why Watercolor</h3>
<blockquote>Watercolor is really easy to add to your website and makes everything look great with little effort.</blockquote>

<ul>
	<li>Because it is easy to use.</li>
	<li>Because it makes your website look great.</li>
	<li>Because why not?</li>
</ul>