//
// Modules
//

@import "../../modules/typography";

//
// Quote
//

blockquote {
	margin-top: font-margin-top(1);
	margin-bottom: font-margin-bottom(1);
	padding-left: 1em;
	border-left: .25em solid $border-color;
}