@{
	Layout = "~/Views/Shared/_Styled.cshtml";
}

<table>
	<thead>
		<tr>
			<th>#</th>
			<th>Team</th>
			<th>Division</th>
			<th>Record</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>Chicago</td>
			<td>North</td>
			<td>10-6</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Green Bay</td>
			<td>North</td>
			<td>9-7</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Detroit</td>
			<td>North</td>
			<td>8-8</td>
		</tr>
		<tr>
			<td>4</td>
			<td>Minnesota</td>
			<td>North</td>
			<td>7-9</td>
		</tr>
	</tbody>
</table>