@{
    Layout = "_Error";
    ViewBag.Title = "Kablammo!!";
}

@section Styles {
    <link rel="stylesheet" href="~/styles/pages/error.css">
}

<section id="error">

    <div class="container">

        <a class="logo" href="/"></a>

        <h1>
            Kablammo!!
            <small>The server exploded, sorry!</small>
        </h1>

    </div>

</section>