@model watercolor.flamebug.com.Models.Error

@{
    Layout = "_Error";
    ViewBag.Title = Model.Status;
}

<h1>
	@Model.Status - @Model.Description
	<small>We're sorry, we'll try harder next time!</small>
</h1>