@import "site/settings";
@import "watercolor/modules/grid";

//
// Header Links
//

h2 > a {
	color: inherit;
}

//
// Buttons
//

#header .button {
    font-size: 1.125em;
    font-weight: bold;
}

//
// Introduction
//

#introduction {
        
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        @include grid;

        li {       
            @include column(max);
                     
            h3 {
                margin-bottom: 0;
            }
            
            p {
                margin-top: 0;
            }
            
            @include breakpoint(medium) {
                @include column-cols(auto);
            }
        }
                
        @include breakpoint(medium) {
            @include grid-wrap(no-wrap);
        }
    }
}

//
// Tools
//

#tools {
    background-color: #2f383d;
    color: #fff;
    
    ul {
        list-style: none;
        margin: $line-height * 1em 0;
        padding: 0;
        @include grid();

        li {
            position: relative;
            margin-top: $line-height * 1em;
            @include column(2, $align: center);
            
            img {
                width: 6em;
                opacity: .8;
            }
 
            @include breakpoint(small) {
                @include column-cols(3);
            }
                       
            @include breakpoint(medium) {
                @include column-cols(auto);
            }
            
            @include breakpoint(large) {
                img {
                    width: 7em;
                }
            }
        }
        
        @include breakpoint(medium) {
            @include grid-wrap(no-wrap);
        }
    }
    
    .button {
        font-size: 1.125em;
        font-weight: bold;
        background-color: $primary-color;
    }
}

//
// Contribute
//

#contribute {
    .button {
        font-size: 1.125em;
        font-weight: bold;
    }
}