@{
	Layout = "~/Views/Shared/_Unstyled.cshtml";
}

<form>

	<fieldset class="inline">
		<legend>Account Information</legend>
		<div class="field">
			<label>Email:</label>
			<input type="email" placeholder="user@domain.com" />
		</div>
		<div class="field">
			<label>Password:</label>
			<input type="password" placeholder="Password" />
		</div>
	</fieldset>

	<fieldset class="align">
		<legend>Personal Information</legend>
		<div class="field">
			<label>Firstname:</label>
			<input type="text" placeholder="Firstname" />
		</div>
		<div class="field">
			<label>Lastname:</label>
			<input type="text" placeholder="Lastname" />
		</div>
	</fieldset>

	<fieldset class="block">
		<legend>Contact Information</legend>
		<div class="field">
			<label>Website:</label>
			<input type="url" placeholder="http://yoursite.com" />
		</div>
		<div class="field">
			<label>Phone:</label>
			<input type="tel" placeholder="847-867-5309" />
		</div>
	</fieldset>

</form>