/*
overview.scss
*/

@import "../library/grid.scss";
@import "../library/helper.scss";

//
// Sections
//

#overview > section {
	@include max-column;
}

//
// Introduction
//

.introduction {
	background-color: #F56;

	&:after {
		border-top-color: #F56;
	}
}

//
// Preformatted Code
//

pre {
	max-height: 25em;
}