<?xml version="1.0" encoding="utf-8"?>
<Icon xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ID>development</ID>
  <Name>Development</Name>
  <Description>Development</Description>
  <Author>Clint Kolodziej</Author>
  <Version>
    <Major>0</Major>
    <Minor>1</Minor>
    <Build>060606</Build>
  </Version>
  <Sizes>
    <IconSize>
      <Size>512</Size>
      <ImageUrl>development.png</ImageUrl>
    </IconSize>
  </Sizes>
</Icon>