/*
controls.scss
*/

@import "../global.scss";
@import "../library/grid.scss";
@import "../library/helper.scss";
@import "../library/badge.scss";

//
// Sections
//

#controls > section {
	@include max-column;
}

//
// Introduction
//

.introduction {
	background-color: #fc694d;
	
	&:after {
		border-top-color: #fc694d;
	}
}

//
// Examples
//

#controls .example {
	padding-top: $line-height * 2em;
	padding-bottom: $line-height * 1em;
}

//
// Badge
//

.badge-image {
	position: relative;
	float: left;
	width: 78px;
	height: 78px;
	border-radius: 1em;
	background-color: #ccc;
	margin: $line-height * .5em $line-height * .75em;

	img {
		display: block;
		position: absolute;
		width: 80%;
		top: 20%;
		left: 10%;
		bottom: 20%;
		right: 10%;
	}

}

#badge-image-1 {
	background-color: #F5DD7E;
}

#badge-image-2 {
	background-color: #FC8D4D;
}

#badge-image-3 {
	background-color: #4D72CC;
}

#badge-image-4 {
	background-color: #0DB2AC;
}

