/*
controls.scss
*/

@import "../library/grid.scss";
@import "../library/helper.scss";

//
// Sections
//

#controls > section {
	@include max-column;
}

//
// Introduction
//

.introduction {
	background-color: #fc694d;
	
	&:after {
		border-top-color: #fc694d;
	}
}

//
// Examples
//

#controls .example {
	padding-top: $line-height * 2em;
	padding-bottom: $line-height * 1em;
}

//
// Badge Image
//

.badge-image {
	position: relative;
	float: left;
	width: 104px;
	height: 104px;
}

.badge-image + .badge-image {
	margin-left: $line-height * 1em;
}

.badge-image img {
	display: block;
	width: 100%;
}