/*
document.scss
*/

html {
	background-color: #f0f0f0;
}

body {
	width: 53em;
	height: 72em;
	margin: 0 auto;
	padding: 2em 4em;
	background-color: #fff;
	//box-shadow: 0 1em 5em rgba(0,0,0,0.1);
}

body, h1, h2, h3, h4, h5, h6 {
	color: #000;
//	font-family: "Times New Roman";
}