/*
home.scss
*/

@import "../library/grid.scss";
@import "../library/helpers.scss";

//
// Sections
//

section {
	border-bottom: 1px solid rgba(0,0,0,0.05);

	&:last-child {
		border-bottom: 0;
	}

	> header {
		text-align: center;

		h1 {
			margin-top: 0;
		}
	}
}

//
// Intro
//

#home-introduction {
	border-bottom: 0;
	background-color: #fc8d4d;
	//background-image: -webkit-linear-gradient(340deg, #0db2ac 0%, #0db2ac 20%, #f5dd7e 20%, #f5dd7e 40%, #fc8d4d 40%, #fc8d4d 60%, #fc694d 60%, #fc694d 80%, #faba32 80%, #faba32 100%);
	//background-image: linear-gradient(110deg, #0db2ac 0%, #0db2ac 20%, #f5dd7e 20%, #f5dd7e 40%, #fc8d4d 40%, #fc8d4d 60%, #fc694d 60%, #fc694d 80%, #faba32 80%, #faba32 100%);
	//background-image: -webkit-linear-gradient(340deg, #0db2ac, #f5dd7e, #fc8d4d, #fc694d, #faba32);
	//background-image: linear-gradient(110deg, #0db2ac, #8dc890, #f5dd7e, #fc8d4d, #fc694d, #faba32);

	&:after {
		border-top-color: #fc8d4d;
	}

	h1 {
		font-size: 3.5em;
		letter-spacing: -2px;
		color: #fff;
	}

	img {
		display: block;
		margin: $line-height * 1em auto 0 auto;
		width: 200px;
	}

	a {
		display: block;
		width: 10em;
		margin: $line-height * 1em auto;
		padding: .5em .75em;
		background: #0db2ac;
		text-decoration: none;

		@include transition(all, .1s);

		&:hover {
			background: #13b8b2;
			color: inherit;
		}
	}
}

/* 6 column layout */
@media screen and (min-width: 30rem) {
	#home-introduction {
		h1 {
			font-size: 4.5em;
			letter-spacing: -4px;
		}
		img {
			width: 280px;
		}
	}
}

/* 8 column layout */
@media screen and (min-width: 40rem) {
	#home-introduction {
		h1 {
			font-size: 5.5em;
			letter-spacing: -4px;
		}

		a {
			padding: 1em 1.5em;
		}
	}
}

//
// Layout
//

@mixin infinite-column-left($cols) {
	margin-left: $cols * ($column-width + $gutter-width) + ($gutter-width / 2) !important;
}

#infinite {
	position: relative;
	height: 20em;
	margin: $line-height * 2em auto 0 auto;
	overflow: hidden;

	div {
		position: absolute;
		left: 50%;
		top: 0;
		height: 100%;
		width: $column-width;
		margin-left: ($gutter-width / 2);
		background: #fc8d4d;
		@include transition(background-color, 0.3s, ease-out);
		opacity: .1;

		&:hover {
			opacity: .5;
		}
	}
}

.col2 { @include infinite-column-left(1); }
.col3 { @include infinite-column-left(2); }
.col4 { @include infinite-column-left(3); }
.col5 { @include infinite-column-left(4); }
.col6 { @include infinite-column-left(5); }
.col7 { @include infinite-column-left(6); }
.col8 { @include infinite-column-left(7); }
.col9 { @include infinite-column-left(8); }
.col10 { @include infinite-column-left(9); }
.col11 { @include infinite-column-left(10); }
.col12 { @include infinite-column-left(11); }
.col13 { @include infinite-column-left(12); }
.col14 { @include infinite-column-left(13); }
.col15 { @include infinite-column-left(14); }
.col16 { @include infinite-column-left(15); }
.col17 { @include infinite-column-left(16); }
.col18 { @include infinite-column-left(17); }
.col19 { @include infinite-column-left(-1); }
.col20 { @include infinite-column-left(-2); }
.col21 { @include infinite-column-left(-3); }
.col22 { @include infinite-column-left(-4); }
.col23 { @include infinite-column-left(-5); }
.col24 { @include infinite-column-left(-6); }
.col25 { @include infinite-column-left(-7); }
.col26 { @include infinite-column-left(-8); }
.col27 { @include infinite-column-left(-9); }
.col28 { @include infinite-column-left(-10); }
.col29 { @include infinite-column-left(-11); }
.col30 { @include infinite-column-left(-12); }
.col31 { @include infinite-column-left(-13); }
.col32 { @include infinite-column-left(-14); }
.col33 { @include infinite-column-left(-15); }
.col34 { @include infinite-column-left(-16); }
.col35 { @include infinite-column-left(-17); }
.col36 { @include infinite-column-left(-18); }

.col1,.col2,.col19,.col20 {
	opacity: 1 !important;
}

/* 6 column layout */
@media screen and (min-width: 30rem) {
	.col3,.col21 {
		opacity: 1 !important;
	}
}

/* 8 column layout */
@media screen and (min-width: 40rem) {
	#infinite {
		height: 30em;
	}
	.col4,.col22 {
		opacity: 1 !important;
	}
}

/* 12 column layout */
@media screen and (min-width: 60rem) {
	.col5,.col6,.col23,.col24 {
		opacity: 1 !important;
	}
}

/* 16 column layout */
@media screen and (min-width: 80rem) {
	.col7,.col8,.col25,.col26 {
		opacity: 1 !important;
	}
}

//
// Typography
//

#typography {
	@include clear-children;

	figure {
		@include max-column;
		margin-top: $line-height * 1em;
		margin-bottom: $line-height * 1em;
	}
	.screenshot {
		background: url(/Content/Images/chrome-flat-browser-1600.png) no-repeat;
		padding-top: 44px;
		border-radius: .4em;
		box-shadow: 0 0 20px rgba(0,0,0,0.08);
	}
	#arrow {
		width: 128px;
		margin: $line-height * 1em auto;
		vertical-align: top;
		opacity: .4;
	}
	#arrow img {
		display: block;
		width: 50%;
		margin: 0 auto;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
	}
}

/* 12 column layout */
@media screen and (min-width: 60rem) {
	#typography {
		figure {
			@include column(5);
		}
		#arrow {
			@include column(2);
			margin-top: $line-height * 10em;
		}
		#arrow img {
			-ms-transform: none;
			-webkit-transform: none;
			transform: none;
		}
	}
}

/* 16 column layout */
@media screen and (min-width: 80rem) {
	#typography {
		figure {
			@include column(7);
		}
		#arrow {
			margin-top: $line-height * 14em;
		}
	}
}