/*
tables.scss
*/

@import "../library/grid.scss";
@import "../library/helpers.scss";

//
// Sections
//

#tables > section {
	@include max-column;
}

//
// Introduction
//

.introduction {
	background-color: #fc8d4d;

	&:after {
		border-top-color: #fc8d4d;
	}
}

//
// Default & Striped Tables (Remove site-specific padded and bordered styles)
//

#default-table table,
#striped-table table {
	margin-top: $line-height * 1em;
	margin-bottom: $line-height * 1em;
	border: 0;

	th,
	td {
		padding-top: 0;
		padding-bottom: 0;
		border-left: 0;
	}
}

//
// Bordered Tables (Remove site-specific padded styles)
//

#bordered-table table {
	th,
	td {
		padding-top: 0;
		padding-bottom: 0;
	}
}

//
// Padded Tables (Remove site-specific border styles)
//

#padded-table table {
	margin-top: $line-height * 1em;
	margin-bottom: $line-height * 1em;
	border: 0;

	th,
	td {
		border-left: 0;
	}
}
