/*
typography.scss
*/

@import "../library/grid.scss";
@import "../library/helpers.scss";

//
// Sections
//

#text > section {
	@include max-column;
}

//
// Introduction
//

.introduction {
	background-color: #f5dd7e;

	&:after {
		border-top-color: #f5dd7e;
	}
}

//
// Formatting
//

.fifty-percent {
	float: left;
	width: 50%;
	min-width: 16em;
}