				<a class="social twitter" href="https://twitter.com/flamebug" title="Follow Flamebug on Twitter">Follow Flamebug on Twitter</a>
				<a class="social facebook" href="https://www.facebook.com/Flamebug" title="Follow Flamebug on Facebook">Follow Flamebug on Facebook</a>
