/*
=========================================
fb-adminmenu
=========================================
*/

.fb-adminmenu {
	margin: 0;
	padding: 0;
	font-size: .875em;
	color: #EEE;
	border: 0;
}

.fb-adminmenu ul li {
	list-style: none;
}

.fb-adminmenu li.static {
	padding: .125em 1em;
}

.fb-adminmenu ul.dynamic {
	text-align: left;

	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	border-radius: .3em;
		
	-moz-box-shadow: 0 0 1em 0 rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 1em 0 rgba(0,0,0,0.5);
	box-shadow: 0 0 1em 0 rgba(0,0,0,0.5);
	
	background: rgba(0,0,0,0.75);
}

.fb-adminmenu li.dynamic {
	padding: .25em 1em;
}

.fb-adminmenu a:link, .fb-adminmenu a:visited, .fb-adminmenu a:active {
	color: #fff;
	text-shadow: rgba(0,0,0,0.75) 0 1px 1px;
}

.fb-adminmenu a:hover {
	color: #ace;
	text-shadow: rgba(0,0,0,0.75) 0 1px 1px;
}