/*
=========================================
flamebug:HoverPanel
=========================================
*/

.fb-hoverpanel {
	display: none;
	position:absolute;
	/*visibility:hidden;*/
	z-index:1000;

	margin: 0;
	padding: 0;
}

*:hover > .fb-hoverpanel {
	display: inline;
	/*visibility:visible;*/
	cursor:pointer;
}