/*
=========================================
label
=========================================
*/

.fb-label {
	display: inline-block;
	overflow: visible;
	padding: 1px 5px; /* .1em .4em */
	line-height: 19px;

	background-color: #999;
	border-radius: .3em;

	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
	text-decoration: none;
	font-size: 12px; /* .75em */
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a.fb-label:hover {
	background-color: #aaa;
	color: #fff;
}

.fb-label:empty {
	display: none;
}

.fb-label.primary {
	background-color: #2a75d1;
}

a.fb-label.primary:hover {
	background-color: #3a85e1;
}

.fb-label.positive {
	background-color: #0eb249;
}

a.fb-label.positive:hover {
	background-color: #1ec259;
}

.fb-label.warning {
	background-color: #fb0;
}

a.fb-label.warning:hover {
	background-color: #fa1;
}

.fb-label.negative {
	background-color: #b44;
}

a.fb-label.negative:hover {
	background-color: #c55;
}