/*
=========================================
flamebug:Price
=========================================
*/

.fb-price {
	padding: .0625em .4em .1875em .4em;
	background-color: green;
	color: white;
	border: 1px solid rgba(255,255,255,0.2);
	border-radius: .25em;
	-moz-border-radius: .25em;
	-webkit-border-radius: .25em;
	text-shadow: #000 0px 1px 2px;
}