@{
    ViewBag.Title = "Forms";
}

@section Styles {
	<link rel="stylesheet" href="~/styles/css/pages/forms.css">
}

@section Scripts {
		<script src="~/lib/prism/prism.js"></script>
}

<section id="forms">

	<div class="container">

		<h2>Forms</h2>

		<p>Forms in Watercolor are pretty simple, yet tremendously flexible. Forms fields should be marked up as <code>div</code> elements with a <code>field</code> class. Form buttons should be enclosed in a <code>div</code> with a <code>buttons</code> class. With this basic markup and a little bit of help from the form @@mixins you can display your forms in a variety of ways.</p>

	</div>

</section>

<section id="mixins">

	<div class="container">

		<h3>Form Mixins</h3>
		<p>The form @@mixins are defined in <code>modules/form.scss</code> and provide @@mixins for styling forms depending on your site's needs.</p>

		<table>

			<thead>
				<tr>
					<th style="width: 25%">mixin</th>
					<th>description</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td><code>field-block</code></td>
					<td>Each form field is displayed on a separate line, with the label above the field. This is the default form type.</td>
				</tr>
				<tr>
					<td><code>field-inline</code></td>
					<td>Each form field is displayed in an inline manner, with the label above the field.  The buttons are displayed below the form on a separate line.</td>
				</tr>
				<tr>
					<td><code>field-align</code></td>
					<td>Each form field is displayed on a separate line, with the field labels aligned to the left of the field.  The buttons are displayed below the form on a separate line.</td>
				</tr>
				<tr>
					<td><code>field-hint</code></td>
					<td>Mixin to set up the form hint element.</td>
				</tr>
			</tbody>

		</table>

	</div>

</section>

<section id="partials" class="container">

	<h3>Form Partials</h3>
	<p>A form partial is provided in <code>partials/form.scss</code> and uses the standard @@mixins to set up the standard classes used in form markup. You can include this partial in your project, or code your own if you prefer a different style.</p>

	<pre><code class="language-css">.field {
	@@include field-block;
}
.hint {
	@@include hint;
}</code></pre>

</section>

<section id="standard-markup" class="container">

	<h3>Standard Markup</h3>
	<p>The following is an example of the standard markup of a Watercolor form. The highlights are that fields need a containing div with class <code>field</code>, and you can add hints on each field to better aid users in completing your form.</p>

	<div class="example">

		<form>

			<fieldset>

				<legend>Legend</legend>

				<div class="field">
					<label>Field 1:</label>
					<input type="text" />
					<span class="hint">Form hint</span>
				</div>

				<div class="field">
					<label>Field 2:</label>
					<input type="text" />
					<span class="hint">Form hint</span>
				</div>

			</fieldset>

			<p>
				<input type="submit" /> <input type="reset" value="Reset" />
			</p>

		</form>

	</div>

	<pre class="example-code"><code class="language-markup">&lt;form&gt;
   &lt;fieldset&gt;
      &lt;legend&gt;Legend&lt;/legend&gt;
      &lt;div class="field"&gt;
         &lt;label&gt;Field 1:&lt;/label&gt;
         &lt;input type="text" /&gt;
         &lt;span class="hint"&gt;Form hint&lt;/span&gt;
      &lt;/div&gt;
      &lt;div class="field"&gt;
         &lt;label&gt;Field 2:&lt;/label&gt;
         &lt;input type="text" /&gt;
         &lt;span class="hint"&gt;Form hint&lt;/span&gt;
      &lt;/div&gt;
   &lt;/fieldset&gt;
   &lt;p&gt;
      &lt;input type="submit" /&gt;
      &lt;input type="reset" value="Reset" /&gt;
   &lt;/p&gt;
&lt;/form&gt;</code></pre>

</section>


<section id="basic-form" class="container">

		<h3>Basic Block Form</h3>
		<p>This is a basic Watercolor form, which is styled by default in block layout. All below examples will use this same HTML markup, but with changes in the CSS. <code>fieldset</code> elements aren't required, but are included for the sake of these examples. Each form field is enclosed in a <code>div</code> element with <code>field</code> class. Form buttons are enclosed in a <code>div</code> element with <code>buttons</code> class. Each field can also have an optional <code>span</code> with class <code>hint</code> that pops up a field hint when the field is focused, and turns red if the field is invalid.</p>

		<div class="example">

			<form>

				<fieldset>

					<legend>Account Information</legend>

					<div class="field">
						<label>Email:</label>
						<input type="email" placeholder="user@domain.com" required />
						<span class="hint">Email address is required and must be in the format: user@@domain.com</span>
					</div>

					<div class="field">
						<label>Password:</label>
						<input type="password" placeholder="Password" required />
						<span class="hint">Password is required</span>
					</div>

				</fieldset>

				<fieldset>

					<legend>Contact Information</legend>

					<div class="field">
						<label>First Name:</label>
						<input type="text" placeholder="First Name" value="" />
						<span class="hint">Please enter your first name</span>
					</div>

					<div class="field">
						<label>Last Name:</label>
						<input type="text" placeholder="Last Name" value="" />
						<span class="hint">Please enter your last name</span>
					</div>

					<div class="field">
						<label>Telephone #:</label>
						<input type="tel" placeholder="847-867-5309" />
						<span class="hint">Please enter your telephone number</span>
					</div>

					<div class="field">
						<label>Website:</label>
						<input type="url" placeholder="http://domain.com" />
						<span class="hint">Please enter your website address in the format: http://domain.com</span>
					</div>

				</fieldset>

				<p>
					<input type="submit" /> <input type="reset" value="Reset" />
				</p>

			</form>

		</div>

		<pre class="example-code"><code class="language-markup">&lt;form&gt;
   &lt;fieldset&gt;
      &lt;legend&gt;Account Information&lt;/legend&gt;
      &lt;div class="field"&gt;
         &lt;label&gt;Email:&lt;/label&gt;
         &lt;input type="email" placeholder="user@domain.com" required /&gt;
         &lt;span class="hint"&gt;Email address is required and must be in the format: user@@domain.com&lt;/span&gt;
      &lt;/div&gt;
      &lt;div class="field"&gt;
         &lt;label&gt;Password:&lt;/label&gt;
         &lt;input type="password" placeholder="Password" required /&gt;
         &lt;span class="hint"&gt;Password is required&lt;/span&gt;
      &lt;/div&gt;
   &lt;/fieldset&gt;
   &lt;fieldset&gt;
      &lt;legend&gt;Contact Information&lt;/legend&gt;
      &lt;div class="field"&gt;
         &lt;label&gt;First Name:&lt;/label&gt;
         &lt;input type="text" placeholder="First Name" value="" /&gt;
         &lt;span class="hint"&gt;Please enter your first name&lt;/span&gt;
      &lt;/div&gt;
      &lt;div class="field"&gt;
         &lt;label&gt;Last Name:&lt;/label&gt;
         &lt;input type="text" placeholder="Last Name" value="" /&gt;
         &lt;span class="hint"&gt;Please enter your last name&lt;/span&gt;
      &lt;/div&gt;
      &lt;div class="field"&gt;
         &lt;label&gt;Telephone #:&lt;/label&gt;
         &lt;input type="tel" placeholder="847-867-5309" /&gt;
         &lt;span class="hint"&gt;Please enter your telephone number&lt;/span&gt;
      &lt;/div&gt;
      &lt;div class="field"&gt;
         &lt;label&gt;Your Website:&lt;/label&gt;
         &lt;input type="url" placeholder="http://domain.com" /&gt;
         &lt;span class="hint"&gt;Please enter your website address in the format: http://domain.com&lt;/span&gt;
      &lt;/div&gt;
   &lt;/fieldset&gt;
   &lt;p&gt;
      &lt;input type="submit" /&gt;
      &lt;input type="reset" value="Reset" /&gt;
   &lt;/p&gt;
&lt;/form&gt;</code></pre>
		<pre><code class="language-css">/*
Block style is the default field type, this would only
be necessary if the default field type is overridden
*/
.field {
   @@include field-block;
}</code></pre>

</section>

<section id="inline-form" class="container">

		<h3>Inline Form</h3>
		<p>Each form field is displayed in an inline manner, with the label above the field.  The buttons are displayed below the form on a separate line.</p>

		<div class="example">

			<form>

				<fieldset>

					<legend>Account Information</legend>

					<div class="field">
						<label>Email:</label>
						<input type="email" placeholder="user@domain.com" required />
						<span class="hint">Email address is required and must be in the format: user@@domain.com</span>
					</div>

					<div class="field">
						<label>Password:</label>
						<input type="password" placeholder="Password" required />
						<span class="hint">Password is required</span>
					</div>

				</fieldset>

				<fieldset>

					<legend>Contact Information</legend>

					<div class="field">
						<label>First Name:</label>
						<input type="text" placeholder="First Name" value="" />
						<span class="hint">Please enter your first name</span>
					</div>

					<div class="field">
						<label>Last Name:</label>
						<input type="text" placeholder="Last Name" value="" />
						<span class="hint">Please enter your last name</span>
					</div>

					<div class="field">
						<label>Telephone #:</label>
						<input type="tel" placeholder="847-867-5309" />
						<span class="hint">Please enter your telephone number</span>
					</div>

					<div class="field">
						<label>Website:</label>
						<input type="url" placeholder="http://domain.com" />
						<span class="hint">Please enter your website address in the format: http://domain.com</span>
					</div>

				</fieldset>

				<p>
					<input type="submit" /> <input type="reset" value="Reset" />
				</p>

			</form>

		</div>

		<pre><code class="language-css">.field {
   @@include field-inline;
}</code></pre>

</section>

<section id="aligned-form" class="container">

		<h3>Aligned Form</h3>
		<p>Each form field is displayed on a separate line, with the field labels aligned to the left of the field.  The buttons are displayed below the form on a separate line.</p>
		<p>One issue with aligned forms is that they do not scale well to small screen sizes. To overcome that it is usually good practice to default the mobile view to block style and then enhance large screens with align mode using a media query.</p>

		<div class="example">

			<form>

				<fieldset>

					<legend>Account Information</legend>

					<div class="field">
						<label>Email:</label>
						<input type="email" placeholder="user@domain.com" required />
						<span class="hint">Email address is required and must be in the format: user@@domain.com</span>
					</div>

					<div class="field">
						<label>Password:</label>
						<input type="password" placeholder="Password" required />
						<span class="hint">Password is required</span>
					</div>

				</fieldset>

				<fieldset>

					<legend>Contact Information</legend>

					<div class="field">
						<label>First Name:</label>
						<input type="text" placeholder="First Name" value="" />
						<span class="hint">Please enter your first name</span>
					</div>

					<div class="field">
						<label>Last Name:</label>
						<input type="text" placeholder="Last Name" value="" />
						<span class="hint">Please enter your last name</span>
					</div>

					<div class="field">
						<label>Telephone #:</label>
						<input type="tel" placeholder="847-867-5309" />
						<span class="hint">Please enter your telephone number</span>
					</div>

					<div class="field">
						<label>Website:</label>
						<input type="url" placeholder="http://domain.com" />
						<span class="hint">Please enter your website address in the format: http://domain.com</span>
					</div>

				</fieldset>

				<p>
					<input type="submit" /> <input type="reset" value="Reset" />
				</p>

			</form>

		</div>

		<pre><code class="language-css">.field {
   @@include field-block;
}
/*
6 column layout
*/
@@media screen and (min-width: 30rem) {
   .field {
      @@include field-aligned;
   }
}</code></pre>

</section>
