@{
    ViewBag.Title = "";
    ViewBag.Description = "Website Design";
}

@section Styles {
	<link rel="stylesheet" href="~/styles/css/pages/index.css")">
}

@section Header {

	<a class="logo" href="/"></a>

	<h1>
		Watercolor
		<small>A modern semantic UI framework</small>
	</h1>

    <p>
        <a class="button ghost" href="/start">Getting Started</a><br/>
		<small><a href="https://github.com/flamebug/watercolor.flamebug.com">View on GitHub</a></small>
    </p>

}

<section id="introduction">

	<div class="container">

		<header>

			<h2>Websites Made Easy</h2>

			<p>
				Watercolor is a website design framework to take the pain out of making great looking, semantic, responsive websites.
				With Watercolor we believe in semantic, simple HTML code so we don't emit any classes into your stylesheets.  Everything is opt-in
				so you can keep your website lean and fast.
			</p>

		</header>

		<ul>

			<li>

				<img/>
				<h3>Standardize</h3>
				<p>With a line of code your website will be standardized to look great and follow a typographic grid.</p>

			</li>

			<li>

				<img/>
				<h3>Grid</h3>
				<p>An adaptive grid system will allow you to quickly build a website that looks great on all devices.</p>

			</li>

			<li>

				<img/>
				<h3>Controls</h3>
				<p>Reusable controls will help speed development.  Include only those you need to keep your site lean.</p>

			</li>

		</ul>

	</div>

</section>

<section id="tools">

	<div class="container">

		<header>

			<h2>Build With Great Tools</h2>

			<p>
				Watercolor is written in Sass, installed via Bower, and built with Node.js and Gulp.  The workflow is incredibly
				powerful and flexible, and is becoming an industry standard for build automation.  If you haven't used the tools
				before we'll step you through setting eveything up.
			</p>

			<!--<a class="button alternate" href="~/start">Getting Started</a>-->

		</header>


		<ul>

			<li>

				<img src="~/images/tools/sass.png"/>

			</li>

			<li>

				<img src="~/images/tools/nodejs.svg"/>

			</li>

			<li>

				<img src="~/images/tools/gulp.svg"/>

			</li>

			<li>

				<img src="~/images/tools/bower.svg"/>

			</li>

		</ul>

	</div>

</section>

<section id="contribute">

	<div class="container">

		<p>
			Want to help make Watercolor better? Check us out on GitHub!
		</p>

		<p>
			<a class="button" href="https://github.com/flamebug/watercolor">Contribute</a>
		</p>

	</div>

</section>