@{
    ViewBag.Title = "Getting Started";
    ViewBag.Description = "Website Design";
}

@section Styles {
	<link rel="stylesheet" href="~/styles/css/pages/start.css">
}

@section Header {

	<a class="logo" href="/"></a>

	<h1>
		Getting Started
	</h1>

	<p>
		Watercolor is based on Sass, which needs to be built before publishing your website.  We'll step you through a common build environment, but feel free to use your own if you have one already set up.
	</p>

}

<section id="getting-started">

    <div class="container">

		<article>

			<h2>Navigate to your project folder</h2>

			<p>
				Start out by opening a terminal or command prompt and navigating to the project folder you want to work in, that will make things much smoother and allow saving your environment to config files to rebuild it later if you are using source control.

				<pre><code>cd /my/project</code></pre>
			</p>

			<h2>Install all the things</h2>

			<p>
				Watercolor is based on Sass, which needs to be compiled into CSS. To do that we'll install the following things.  I'll make it as brief as possible to get you up and running quickly.
			</p>

			<ul>
				<li><a href="#install-nodejs">Install Node.js</a></li>
				<li><a href="#install-ruby">Install Ruby</a></li>
				<li><a href="#install-sass">Install Sass</a></li>
				<li><a href="#install-gulp">Install Gulp and Bower</a></li>
				<li><a href="#install-watercolor">Install Watercolor</a></li>
			</ul>

			<h3 id="install-nodejs">Install Node.js and Ruby</h3>

			<p>
				<a href="https://nodejs.org">Node.js</a> is a popular lightweight language based on Javascript.  Gulp and Bower are built on Node.js.
				<br/><br/>
				<a href="https://nodejs.org">https://nodejs.org</a>
				<a href="https://www.ruby-lang.org">https://www.ruby-lang.org</a>
			</p>

			<h3 id="install-ruby">Install Ruby</h3>

			<p>
				<a href="https://www.ruby-lang.org">Ruby</a> is a popular cross-platform language.  Sass is built on Ruby.
				<br/><br/>

			</p>

			<h3 id="install-sass">Install Sass</h3>

			<p>
				<a href="http://sass-lang.com/">Sass</a> is an extremely popular css extension language which Watercolor is written in, we'll be using it to compile the website style sheets. <a href="http://sass-lang.com/install">Install it</a> with the Ruby gem command.

				<pre><code>gem install sass</code></pre>

				<small>
					Note: If you run into trouble on Mac or Linux machines installing this, use the <code>sudo</code> command to install.  On Windows open the command prompt as administrator if you have trouble.
				</small>
			</p>

			<h3 id="install-gulp">Install Gulp and Bower</h3>

			<p>
				<a href="http://gulpjs.com/">Gulp</a> is a popular build automation language. <a href="https://github.com/gulpjs/gulp/blob/master/docs/getting-started.md">Install it</a> with the Node.js npm command.

				<pre><code>npm install -g gulp bower</code></pre>

			</p>

			<p>
				Once installed, navigate to your project folder and initialize <a href="http://bower.io">Bower</a> with the following command.  This will create a <code>bower.json</code> file that will keep track of your project dependencies.

				<pre><code>bower init</code></pre>

			</p>

			<p>
				<small>
					Note: If you prefer not to use <a href="http://bower.io">Bower</a> you can clone the <a href="https://github.com/flamebug/watercolor">Watercolor GitHub repository</a> or <a href="https://github.com/flamebug/watercolor/archive/master.zip">download the current release</a> and copy Watercolor into your website's Sass <code>/lib</code> folder.  If you choose to do this you can jump down to the build section.
				</small>
			</p>

			<h3 id="install-watercolor">Install Watercolor</h3>

			<p>
				Once <a href="http://bower.io">Bower</a> is installed and initialized you are one command away from installing Watercolor.  The <code>--save</code> parameter tells <a href="http://bower.io">Bower</a> to save the package as a dependency.

<pre><code>bower install watercolor --save</code></pre>
			</p>

		</article>

    </div>

</section>