@{
    ViewBag.Title = "Getting Started";
    ViewBag.Description = "Website Design";
}

@section Styles {
	<link rel="stylesheet" href="~/styles/css/pages/start.css">
}

<section id="getting-started">

	<div class="container">

		<h2>
			Getting Started
		</h2>

        <p>
            Watercolor is a SCSS-based front-end framework for rapidly developing great looking websites.
            Getting started is really easy, just download or clone the git repository and copy into your website, then start building your site.
        </p>

	</div>

</section>

<section id="getting-started-1">

    <header class="container">

		<h2>Download Watercolor</h2>

        <p>
            Download Watercolor from the download link below or clone the GitHub repository to your computer.
        </p>

        <p>
            <a class="button" href="https://github.com/flamebug/watercolor.flamebug.com">Download Watercolor</a><br/>
			<small><a href="https://github.com/flamebug/watercolor.flamebug.com">View on GitHub</a></small>
            <br/>
        </p>

    </header>

</section>

<section id="getting-started-2">

    <header class="container">

        <h2>Copy Into Your Website</h2>

        <p>
            Extract the compressed archive or cloned repository files into your website. We generally use the /Styles folder but it should work in any location you choose.
            <br/>
        </p>

        <img src="/Images/Getting-Started/Styles.png" alt="Copy Flamebug Watercolor into your website"/>

    </header>

</section>

<section id="getting-started-3">

    <header class="container">

        <h2>Design Your Website</h2>

        <p>
            Create your website by editing the style.scss file to opt in to any modules you require, create or customize any page layout templates, and create and page-specific styles. For more information on the various files please see the <a href="/Overview">overview</a> for more details.
        </p>

        <img src="/Images/Getting-Started/Design.png" alt="Design your website"/>

    </header>

</section>
