@{
    ViewBag.Title = "Forms";
}

@section Styles {
	<link rel="stylesheet" href="@Url.Content("~/Styles/Pages/forms.scss")">
}

@section Scripts {
		<script src="@Url.Content("~/Content/Scripts/prism.js")"></script>

		<script>
			$("input[type=range]").change(function () {
				var newValue = $(this).val();
				$(this).next().val(newValue + " years old");
			});
		</script>
}

<section id="forms-introduction" class="introduction">

	<header class="container">

		<h2>Forms</h2>

		<p>Forms in watercolor are pretty simple, yet tremendously flexible. Forms fields should be marked up as <code>div</code> elements with a <code>field</code> class. Form buttons should be enclosed in a <code>div</code> with a <code>buttons</code> class. With this basic markup and a little bit of help from the form @@mixins you can display your forms in a variety of ways.</p>

	</header>

</section>

<section id="forms" class="container">

	<article id="mixins">

		<h3>Form Mixins</h3>

		<p>The form @@mixins are defined in <a href="/overview#forms">forms.scss</a> and provide @@mixins for styling forms depending on your site's needs.</p>

		<table>

			<thead>
				<tr>
					<th style="width: 25%">mixin</th>
					<th>description</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td><code>field-block()</code></td>
					<td>Each form field is displayed on a separate line, with the label above the field. This is the default form type.</td>
				</tr>
				<tr>
					<td><code>field-inline()</code></td>
					<td>Each form field is displayed in an inline manner, with the label above the field.  The buttons are displayed below the form on a separate line.</td>
				</tr>
				<tr>
					<td><code>field-align()</code></td>
					<td>Each form field is displayed on a separate line, with the field labels aligned to the left of the field.  The buttons are displayed below the form on a separate line.</td>
				</tr>
			</tbody>

		</table>

	</article>

	<article id="classes">

		<h3>Form Classes</h3>

		<p>If you prefer to add classes to your markup instead of using @@mixins you can use the following to customize the look of your forms.</p>

		<table>

			<thead>
				<tr>
					<th style="width: 25%">class</th>
					<th>description</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td><code>block</code></td>
					<td>Each form field is displayed on a separate line, with the label above the field. This is the default form type.</td>
				</tr>
				<tr>
					<td><code>inline</code></td>
					<td>Each form field is displayed in an inline manner, with the label above the field.  The buttons are displayed below the form on a separate line.</td>
				</tr>
				<tr>
					<td><code>align</code></td>
					<td>Each form field is displayed on a separate line, with the field labels aligned to the left of the field.  The buttons are displayed below the form on a separate line.</td>
				</tr>
			</tbody>

		</table>

	</article>

	<article id="basic-form">

		<h3>Basic Block Form</h3>
		<p>This is a basic Watercolor form, which is styled by default in block layout. All below examples will use this same HTML markup, but with changes in the CSS. <code>fieldset</code> elements aren't required, but are included for the sake of these examples. Each form field is enclosed in a <code>div</code> element with <code>field</code> class. Form buttons are enclosed in a <code>div</code> element with <code>buttons</code> class. Each field can also have an optional <code>span</code> with class <code>hint</code> that pops up a field hint when the field is focused, and turns red if the field is invalid.</p>

		<div class="example">

			<form>

				<fieldset>

					<legend>Account Information</legend>

					<div class="field">
						<label>Email:</label>
						<input type="email" placeholder="user@domain.com" required />
						<span class="hint">Email address is required and must be in the format: user@@domain.com</span>
					</div>

					<div class="field">
						<label>Password:</label>
						<input type="password" placeholder="password" required />
						<span class="hint">Password is required</span>
					</div>

				</fieldset>

				<fieldset>

					<legend>Contact Information</legend>

					<div class="field">
						<label>First Name:</label>
						<input type="text" placeholder="First Name" value="" />
						<span class="hint">Please enter your first name</span>
					</div>

					<div class="field">
						<label>Last Name:</label>
						<input type="text" placeholder="Last Name" value="" />
						<span class="hint">Please enter your last name</span>
					</div>

					<div class="field">
						<label>Telephone #:</label>
						<input type="tel" placeholder="847-867-5309" />
						<span class="hint">Please enter your telephone number</span>
					</div>

					<div class="field">
						<label>Website:</label>
						<input type="url" placeholder="http://domain.com" />
						<span class="hint">Please enter your website address in the format: http://domain.com</span>
					</div>

				</fieldset>
<!--
				<fieldset>

					<legend>Personal Information</legend>
					
					<div class="field">
						<label>Birthday:</label>
						<input type="date" />
						<span class="hint">Please choose your birthday</span>
					</div>

					<div class="field">
						<label>Gender:</label>
						<select>
							<option value="1">Male</option>
							<option value="2">Female</option>
						</select>
						<span class="hint">Please choose your gender</span>
					</div>
					
					<div class="field">
						<label>Age:</label>
						<input type="range" min="0" max="100" value="30" /> <output>30 years old</output>
					</div>

					<div class="field">
						<label>Do you have siblings?:</label>
						<input type="radio" name="sex" value="male" checked="checked" /> Yes
						<input type="radio" name="sex" value="female" /> No
					</div>

					<div class="field">
						<label>Number of siblings?:</label>
						<input type="number" value="0" />
						<span class="hint">Please select the number of siblings that you have</span>
					</div>

					<div class="field">
						<label>Favorite Color:</label>
						<input type="color" />
						<span class="hint">Please choose your favorite color</span>
					</div>

				</fieldset>

				<fieldset>

					<legend>Optional Information</legend>

					<div class="field clear">
						<label>Receive Emails:</label>
						<input type="checkbox" />
						<span class="hint">Please check the box if you would like to receive emails from us</span>
					</div>

					<div class="field">
						<label>Comments:</label>
						<textarea placeholder="Comments"></textarea>
						<span class="hint">Please enter any comments that you may have</span>
					</div>

				</fieldset>
-->
				<div class="buttons">
					<input type="submit" /> <input type="reset" value="Reset" />
				</div>

			</form>

		</div>

		<pre class="example-code"><code class="language-markup">&lt;form&gt;
   &lt;fieldset&gt;
      &lt;legend&gt;Account Information&lt;/legend&gt;
      &lt;div class="field"&gt;
         &lt;label&gt;Email:&lt;/label&gt;
         &lt;input type="email" placeholder="user@domain.com" required /&gt;
         &lt;span class="hint"&gt;Email address is required and must be in the format: user@@domain.com&lt;/span&gt;
      &lt;/div&gt;
      &lt;div class="field"&gt;
         &lt;label&gt;Password:&lt;/label&gt;
         &lt;input type="email" placeholder="password" required /&gt;
         &lt;span class="hint"&gt;Password is required&lt;/span&gt;
      &lt;/div&gt;
   &lt;/fieldset&gt;
   &lt;fieldset&gt;
      &lt;legend&gt;Contact Information&lt;/legend&gt;
      &lt;div class="field"&gt;
         &lt;label&gt;First Name:&lt;/label&gt;
         &lt;input type="text" placeholder="First Name" value="" /&gt;
         &lt;span class="hint"&gt;Please enter your first name&lt;/span&gt;
      &lt;/div&gt;
      &lt;div class="field"&gt;
         &lt;label&gt;Last Name:&lt;/label&gt;
         &lt;input type="text" placeholder="Last Name" value="" /&gt;
         &lt;span class="hint"&gt;Please enter your last name&lt;/span&gt;
      &lt;/div&gt;
      &lt;div class="field"&gt;
         &lt;label&gt;Telephone #:&lt;/label&gt;
         &lt;input type="tel" placeholder="847-867-5309" /&gt;
         &lt;span class="hint"&gt;Please enter your telephone number&lt;/span&gt;
      &lt;/div&gt;
      &lt;div class="field"&gt;
         &lt;label&gt;Your Website:&lt;/label&gt;
         &lt;input type="url" placeholder="http://domain.com" /&gt;
         &lt;span class="hint"&gt;Please enter your website address in the format: http://domain.com&lt;/span&gt;
      &lt;/div&gt;
   &lt;/fieldset&gt;
   &lt;div class="buttons"&gt;
      &lt;input type="submit" /&gt;
      &lt;input type="reset" value="Reset" /&gt;
   &lt;/div&gt;
&lt;/form&gt;</code></pre>

		<pre><code class="language-css">/*
Block style is the default field type, this would only 
be necessary if the default field type is overridden
*/
.field {
   @@include field-block;
}</code></pre>

	</article>

	<article id="inline-form">

		<h3>Inline Form</h3>
		<p>Each form field is displayed in an inline manner, with the label above the field.  The buttons are displayed below the form on a separate line.</p>

		<div class="example">

			<form>

				<fieldset>

					<legend>Account Information</legend>

					<div class="field">
						<label>Email:</label>
						<input type="email" placeholder="user@domain.com" required />
						<span class="hint">Email address is required and must be in the format: user@@domain.com</span>
					</div>

					<div class="field">
						<label>Password:</label>
						<input type="password" placeholder="password" required />
						<span class="hint">Password is required</span>
					</div>

				</fieldset>

				<fieldset>

					<legend>Contact Information</legend>

					<div class="field">
						<label>First Name:</label>
						<input type="text" placeholder="First Name" value="" />
						<span class="hint">Please enter your first name</span>
					</div>

					<div class="field">
						<label>Last Name:</label>
						<input type="text" placeholder="Last Name" value="" />
						<span class="hint">Please enter your last name</span>
					</div>

					<div class="field">
						<label>Telephone #:</label>
						<input type="tel" placeholder="847-867-5309" />
						<span class="hint">Please enter your telephone number</span>
					</div>

					<div class="field">
						<label>Website:</label>
						<input type="url" placeholder="http://domain.com" />
						<span class="hint">Please enter your website address in the format: http://domain.com</span>
					</div>

				</fieldset>

				<div class="buttons">
					<input type="submit" /> <input type="reset" value="Reset" />
				</div>

			</form>

		</div>

		<pre><code class="language-css">.field {
   @@include field-inline;
}</code></pre>

	</article>

	<article id="align-form">

		<h3>Aligned Form</h3>
		<p>Each form field is displayed on a separate line, with the field labels aligned to the left of the field.  The buttons are displayed below the form on a separate line.</p>

		<div class="example">

			<form>

				<fieldset>

					<legend>Account Information</legend>

					<div class="field">
						<label>Email:</label>
						<input type="email" placeholder="user@domain.com" required />
						<span class="hint">Email address is required and must be in the format: user@@domain.com</span>
					</div>

					<div class="field">
						<label>Password:</label>
						<input type="password" placeholder="password" required />
						<span class="hint">Password is required</span>
					</div>

				</fieldset>

				<fieldset>

					<legend>Contact Information</legend>

					<div class="field">
						<label>First Name:</label>
						<input type="text" placeholder="First Name" value="" />
						<span class="hint">Please enter your first name</span>
					</div>

					<div class="field">
						<label>Last Name:</label>
						<input type="text" placeholder="Last Name" value="" />
						<span class="hint">Please enter your last name</span>
					</div>

					<div class="field">
						<label>Telephone #:</label>
						<input type="tel" placeholder="847-867-5309" />
						<span class="hint">Please enter your telephone number</span>
					</div>

					<div class="field">
						<label>Website:</label>
						<input type="url" placeholder="http://domain.com" />
						<span class="hint">Please enter your website address in the format: http://domain.com</span>
					</div>

				</fieldset>

				<div class="buttons">
					<input type="submit" /> <input type="reset" value="Reset" />
				</div>

			</form>

		</div>

		<pre><code class="language-css">.field {
   @@include field-align;
}</code></pre>

	</article>

</section>