@{
    ViewBag.Title = "";
    ViewBag.Description = "Website Design";
}

@section Styles {
	<link rel="stylesheet" href="@Url.Content("~/Styles/Pages/getting-started.css")">
}

<header>

	<div class="container">

		<h2>
			Getting Started
		</h2>

        <p>
            Watercolor is a SCSS-based front-end framework for rapidly developing great looking websites.
            Getting started is really easy, just download or clone the git repository and copy into your website, then start building your site.
        </p>

	</div>

</header>

<section id="getting-started-1">

    <header class="container">

        <h2>1</h2>

        <h3>Download Watercolor</h3>

        <p>
            Download Watercolor from the download link below or clone the git repository to your computer.
        </p>

        <p>
            <a class="hero-button" href="https://github.com/flamebug/watercolor.flamebug.com">Download Watercolor</a><br />
            <small><a href="https://github.com/flamebug/watercolor.flamebug.com">View source on Github</a></small>
            <br/>
        </p>

        <img src="/Images/Getting-Started/Download.png" alt="Download Flamebug Watercolor"/>

    </header>

</section>

<section id="getting-started-2">

    <header class="container">

        <h2>2</h2>

        <h3>Copy Into Your Website</h3>

        <p>
            Extract the compressed archive or cloned repository files into your website. We generally use the /Styles folder but it should work in any location you choose.
            <br/>
        </p>

        <img src="/Images/Getting-Started/Styles.png" alt="Copy Flamebug Watercolor into your website"/>

    </header>

</section>

<section id="getting-started-3">

    <header class="container">

        <h2>3</h2>

        <h3>Design Your Website</h3>

        <p>
            Create your website by editing the style.scss file to opt in to any modules you require, create or customize any page layout templates, and create and page-specific styles. For more information on the various files please see the <a href="/Overview">overview</a> for more details.
        </p>

        <img src="/Images/Getting-Started/Design.png" alt="Design your website"/>

    </header>

</section>
