@{
    ViewBag.Title = "";
}

@section Styles {
	<link rel="stylesheet" href="@Url.Content("~/Styles/Pages/home.scss")">
}

<section id="intro">

	<header>

		<img src="@Url.Content("~/Content/Images/flamebug-Logo.png")" />
		<h1>Watercolor</h1>
		<a class="fb-button large" href="/download">Download Watercolor</a>

	</header>

</section>

<section id="basics">

	<header>

		<h1>Websites Made Easy</h1>
		<p>Watercolor is the best blah blah blah</p>

	</header>

</section>


<section id="details">

	<header>

		<h1>Semantic</h1>
		<p>Watercolor is the best blah blah blah</p>

	</header>

</section>

<section id="details">

	<header>

		<h1>Responsive</h1>
		<p>Watercolor is the best blah blah blah</p>

	</header>

</section>