@{
    ViewBag.Title = "";
}

@section Styles {
	<link rel="stylesheet" href="@Url.Content("~/Styles/Pages/home.scss")">
}

<section id="intro">

	<header>

		<img src="@Url.Content("~/Content/Images/flamebug-Logo.png")" />
		<h1>Watercolor</h1>
		<a class="fb-button large" href="/download">Download Watercolor</a>

	</header>

</section>

<section id="basics">

	<header>

		<h2>Introducing Watercolor</h2>
		<p>A robust, dead simple way to start your website. Worry about your site, not making .</p>

	</header>

</section>

<section id="layout">

	<header>

		<h2>Adaptive Layout</h2>
		<p>Watercolor is based on an adaptive grid that allows a content-first approach to website design on a variety of screen sizes and devices. Unlike traditional responsive grids, which have a fixed number of columns, adaptive grids allow columns to be added as additional screen real estate becomes available. This flexibility allows the designer the ability to organize the content in a way that looks best on different sized screens, rather than the one-size-fits-all approach of responsive grids.</p>

	</header>

</section>

<section id="typography">

	<header>

		<h2>Beautiful Typography</h2>
		<p>It's no secret: browser-default typographic styles are ugly. Watercolor fixes that by providing styles that will beautify your typography without the need for any custom code.</p>

	</header>

</section>

<section id="forms">

	<header>

		<h2>Usable Forms</h2>
		<p>Anyone who has used the web will know: forms can be awful. Watercolor simplifies the creation of forms by providing a semantic guideline for form markup, and styles that can quickly turn that markup into a highly usable form that is a pleasure to use.</p>

	</header>

</section>

<section id="controls">

	<header>

		<h2>Consistent Controls</h2>
		<p>While the basic elements and controls </p>

	</header>

</section>

<section id="technology">

	<header>

		<h2>A Strong Foundation</h2>
		<p>Watercolor is built on stable, mature, web technologies that allow you to focus on your site, and know you are working from a strong foundation.</p>

	</header>
	
	<ul class="container">
		<li>
			<img src="/Content/Images/Badges/html5.svg" />
		</li>

		<li>
			<img src="/Content/Images/Badges/sass.svg" />
		</li>

		<li>
			<img src="/Content/Images/Badges/css3.svg" />
		</li>
	</ul>

</section>