@{
    ViewBag.Title = "";
}

@section Styles {
	<link rel="stylesheet" href="@Url.Content("~/Styles/Pages/home.scss")">
}

<section id="intro">

	<header>

		<img src="@Url.Content("~/Content/Images/flamebug-Logo.png")" />
		<h1>Watercolor</h1>
		<a class="fb-button large" href="/download">Download Watercolor</a>

	</header>

</section>

<section id="basics">

	<header>

		<h2>Introducing Watercolor</h2>
		<p>A robust, dead simple way to start your website. Worry about your site, not making .</p>

	</header>

</section>

<section id="details">

	<header>

		<h2>Responsive</h2>
		<p>Watercolor is the best blah blah blah</p>

	</header>

</section>

<section id="technology">

	<header>

		<h2>Built On A Solid Foundation</h2>
		<p>Watercolor is built on stable, mature, web technologies that allow you to focus on your site, and know you are working from a solid foundation.</p>

	</header>
	
	<ul class="container">
		<li>
			<img src="/Content/Images/Badges/html5.svg" />
			<h3>HTML 5</h3>
			<p>Html enables new elements and features that promote usability, such as new input types, better semantics, and a whole lot more. </p>
		</li>

		<li>
			<img src="/Content/Images/Badges/sass.svg" />
			<h3>Sass</h3>
			<p>Sass is a mature and powerful professional grade CSS extension language that promotes reusable libraries and advanced syntax.</p>
		</li>

		<li>
			<img src="/Content/Images/Badges/css3.svg" />
			<h3>CSS 3</h3>
			<p>CSS 3 enables new visual features like animations, rounded borders, and shadows, along with usability features like form validation styles.</p>
		</li>
	</ul>

</section>