@{
    ViewBag.Title = "Controls";
}

@section Styles {
	<link rel="stylesheet" href="~/styles/pages/controls.css">
}

@section Scripts {
		<script src="~/lib/prism/prism.js"></script>
		<script src="~/scripts/controls/flamebug.modal.js"></script>
}

<section id="controls" class="container">

	<div class="container">

		<h2>Controls</h2>

		<p>
			Watercolor provides controls and classes that allow your web application to have a consistent feel for your users. Many controls can have additional class modifiers added to change behavior, such as: <code>primary</code> for default actions, <code>positive</code> for non-destructive actions such as add or save, <code>warning</code> for actions that require user attention, and <code>negative</code> for destructive or error conditions.
		</p>

	</div>
	
	<section id="badge">

		<h3>Badge</h3>
		<p>Use badges for notification counts. A badge can be used inside any element with style <code>position: relative</code>. Include @@mixin <code>badge</code> to turn any <code>span</code> element into a badge. Additional @@mixins are provided to alter the style to change the badge position. Optional styles to provide a <code>badge</code> class, and the various position styles, are provided for convenience.</p>

		<div class="example">

			<span class="badge-image" id="badge-image-1">
				<span class="badge">1</span>
				<img src="/Images/flamebug-Logo-White.png" />
			</span>

			<span class="badge-image" id="badge-image-2">
				<span class="badge bottom-right">2</span>
				<img src="/Images/flamebug-Logo-White.png" />
			</span>

			<span class="badge-image" id="badge-image-3">
				<span class="badge top-left">3</span>
				<img src="/Images/flamebug-Logo-White.png" />
			</span>

			<span class="badge-image" id="badge-image-4">
				<span class="badge bottom-left">4</span>
				<img src="/Images/flamebug-Logo-White.png" />
			</span>

		</div>

		<pre class="example-code"><code class="language-markup">&lt;span class="app"&gt;
   &lt;span class="badge"&gt;1&lt;/span&gt;
&lt;/span&gt;
&lt;span class="app"&gt;
   &lt;span class="badge bottom-right"&gt;2&lt;/span&gt;
&lt;/span&gt;
&lt;span class="app"&gt;
   &lt;span class="badge top-left"&gt;3&lt;/span&gt;
&lt;/span&gt;
&lt;span class="app"&gt;
   &lt;span class="badge bottom-left"&gt;4&lt;/span&gt;
&lt;/span&gt;</code></pre>

		<pre class="example-code"><code class="language-css">.app {
    position: relative;
    ...
}
.badge {
	@@include badge;
    &.top-right {
        @@include badge-top-right;
    }
    &.bottom-right {
        @@include badge-bottom-right;
    }
    &.bottom-left {
        @@include badge-bottom-left;
    }
    &.top-left {
        @@include badge-top-left;
    }
}</code></pre>

	</section>

	<section id="button">

		<h3>Button</h3>
		<p>Having consistent button elements throughout your app is important. Include @@mixin <code>button</code> to turn any link into a button. Standard HTML buttons, and input buttons, are styled identically in <a href="/overview#typography">typography.scss</a>. Optional styles to provide a <code>button</code> class, and the various styles and sizes, are provided for convenience.</p>

		<div class="example">

			<a href="#button" class="button">Button</a>
			<a href="#button" class="button" disabled>Button</a>

		</div>

		<pre class="example-code"><code class="language-markup">&lt;a class="button"&gt;Button&lt;/a&gt;
&lt;a class="button" disabled&gt;Button&lt;/a&gt;</code></pre>

		<pre class="example-code"><code class="language-css">.button {
	@@include button;
}</code></pre>

		<p>A button style can be assigned to the button to provide visual clues to the user on the purpose of a button.</p>

		<table>

			<thead>
				<tr>
					<th>example</th>
					<th>description</th>
				</tr>
			</thead>

			<tbody>	
				<tr>
					<td><a class="button primary" href="#button">Primary</a></td>
					<td>Primary button style, use for the default form button. Include @@mixin <code>button-primary</code> or use optional class <code>primary</code>.</td>
				</tr>
				<tr>
					<td><a class="button positive" href="#button">Positive</a></td>
					<td>Positive, or success, button style, use for positive actions such as saving data. Include @@mixin <code>button-positive</code> or use optional class <code>positive</code>.</td>
				</tr>
				<tr>
					<td><a class="button warning" href="#button">Warning</a></td>
					<td>Warning button style, use for actions that require caution from the user. Include @@mixin <code>button-warning</code> or use optional class <code>warning</code>.</td>
				</tr>
				<tr>
					<td><a class="button negative" href="#button">Negative</a></td>
					<td>Negative button style, use for actions that delete data. Include @@mixin <code>button-negative</code> or use optional class <code>negative</code>.</td>
				</tr>
			</tbody>

		</table>

		<p>Size classes can be added to the button to make it more prominent, or to indicate it is an alternate action such as a cancel button.</p>

		<table>

			<thead>
				<tr>
					<th>example</th>
					<th>description</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td><a class="button hero" href="#button">Hero</a></td>
					<td>Button sized for hero sections. Include @@mixin <code>button-hero</code> or use optional class <code>hero</code>.</td>
				</tr>
				<tr>
					<td><a class="button large" href="#button">Large</a></td>
					<td>Large button to give more emphasis over the default button. Include @@mixin <code>button-large</code> or use optional class <code>large</code>.</td>
				</tr>
				<tr>
					<td><a class="button" href="#button">Default</a></td>
					<td>Default button size.</td>
				</tr>
				<tr>
					<td><a class="button small" href="#button">Small</a></td>
					<td>Smaller button to give lower emphasis over the default button. Include @@mixin <code>button-small</code> or use optional class <code>small</code>.</td>
				</tr>
				<tr>
					<td><a class="button link" href="#button">Link</a></td>
					<td>Link style button, commonly used for alternate functions such as cancel. Include @@mixin <code>button-link</code> or use optional class <code>link</code>.</td>
				</tr>
			</tbody>

		</table>

	</section>
<!--
	<section id="disclosure">

		<h3>Disclosure</h3>
		<p>A disclosure toggles the visibility of another element. Add class <code>.fb-disclosure</code> to a link, and a target element in the <code>href</code>.</p>

		<div class="example">

	   		<a class="fb-disclosure" href="#disclosed-1">Disclose Stuff</a>
			<div id="disclosed-1" style="display: none">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis nunc sit amet urna porta iaculis pretium augue semper. Vestibulum rutrum, leo ut lobortis laoreet, sapien ante rhoncus purus, eu mattis urna massa id turpis. Quisque ut leo metus, fermentum fermentum justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
			</div>

		</div>

		<pre class="example-code"><code class="language-markup">&lt;a class="fb-disclosure" href="#disclosed"&gt;Disclose Stuff&lt;/a&gt;
&lt;div id="disclosed" style="display: none"&gt;&hellip;&lt;/div&gt;</code></pre>

		<p>You can also use a button for the disclosure link, depending on your use case.</p>

		<div class="example">

	   		<a class="fb-disclosure button" href="#disclosed-2">Disclose Stuff</a>
			<div id="disclosed-2" style="display: none">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis nunc sit amet urna porta iaculis pretium augue semper. Vestibulum rutrum, leo ut lobortis laoreet, sapien ante rhoncus purus, eu mattis urna massa id turpis. Quisque ut leo metus, fermentum fermentum justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
			</div>

		</div>

		<pre class="example-code"><code class="language-markup">&lt;a class="fb-disclosure button" href="#disclosed"&gt;Disclose Stuff&lt;/a&gt;
&lt;div id="disclosed" style="display: none"&gt;&hellip;&lt;/div&gt;</code></pre>

	</section>
-->
	<section id="label">

		<h3>Label</h3>
		<p>Use labels to display requirements, or other important information. Include @@mixin <code>label</code> to turn any <code>span</code> element into a label. Additional @@mixins are provided to alter the style to change emphasis. Optional styles to provide a <code>label</code> class, and the various styles, are provided for convenience.</p>

		<div class="example">

			<span class="label">default</span>
			<span class="label primary">primary</span>
			<span class="label positive">positive</span>
			<span class="label warning">warning</span>
			<span class="label negative">negative</span>

		</div>

		<pre class="example-code"><code class="language-markup">&lt;span class="label"&gt;info&lt;/span&gt;
&lt;span class="label primary"&gt;required&lt;/span&gt;
&lt;span class="label positive"&gt;success&lt;/span&gt;
&lt;span class="label warning"&gt;warning&lt;/span&gt;
&lt;span class="label negative"&gt;error&lt;/span&gt;</code></pre>

		<pre class="example-code"><code class="language-css">.label {
	@@include label;
    &.primary {
        @@include label-primary;
    }
    &.positive {
        @@include label-positive;
    }
    &.warning {
        @@include label-warning;
    }
    &.negative {
        @@include label-negative;
    }
}</code></pre>

	</section>

	<section id="modal">

		<h3>Modal</h3>
		<p>A modal panel that is displayed to a user after clicking a triggering link. Add class <code>.fb-modal</code> to any element, and any link pointing to it's target id will trigger the modal. Add class <code>slide-right</code>, <code>slide-bottom</code>, <code>spin</code>, <code>super-scale</code>, or <code>full-screen</code> to the modal to define the effect used while showing/hiding.</p>

		<div class="example">

		   	<a class="button" href="#modal-default">Default</a>
			<a class="button" href="#modal-slide-right">Slide Right</a>
			<a class="button" href="#modal-slide-bottom">Slide Bottom</a>
			<a class="button" href="#modal-spin">Spin</a>
			<a class="button" href="#modal-super-scale">Super Scale</a>
			<a class="button" href="#modal-full-screen">Full Screen</a>

			<div id="modal-default" class="fb-modal" style="width: 20em; max-width: 50%; padding: 2em;">Modal</div>
			<div id="modal-slide-right" class="fb-modal slide-right" style="width: 20em; max-width: 50%; padding: 2em;">Modal</div>
			<div id="modal-slide-bottom" class="fb-modal slide-bottom" style="width: 20em; max-width: 50%; padding: 2em;">Modal</div>
			<div id="modal-spin" class="fb-modal spin" style="width: 20em; max-width: 50%; padding: 2em;">Modal</div>
			<div id="modal-super-scale" class="fb-modal super-scale" style="width: 20em; max-width: 50%; padding: 2em;">Modal</div>
			<div id="modal-full-screen" class="fb-modal full-screen" style="width: 20em; max-width: 50%; padding: 2em;">Modal</div>

		</div>

		<pre class="example-code"><code class="language-markup">&lt;a class="button" href="#modal-default"&gt;Default&lt;/a&gt;
&lt;a class="button" href="#modal-slide-right"&gt;Slide Right&lt;/a&gt;
&lt;a class="button" href="#modal-slide-bottom"&gt;Slide Bottom&lt;/a&gt;
&lt;a class="button" href="#modal-spin"&gt;Spin&lt;/a&gt;
&lt;a class="button" href="#modal-super-scale"&gt;Super Scale&lt;/a&gt;
&lt;a class="button" href="#modal-full-screen"&gt;Full Screen&lt;/a&gt;

&lt;div id="modal-default" class="fb-modal"&gt;Modal&lt;/div&gt;
&lt;div id="modal-slide-right" class="fb-modal slide-right"&gt;Modal&lt;/div&gt;
&lt;div id="modal-slide-bottom" class="fb-modal slide-bottom"&gt;Modal&lt;/div&gt;
&lt;div id="modal-spin" class="fb-modal spin"&gt;Modal&lt;/div&gt;
&lt;div id="modal-super-scale" class="fb-modal super-scale"&gt;Modal&lt;/div&gt;
&lt;div id="modal-full-screen" class="fb-modal full-screen"&gt;Modal&lt;/div&gt;</code></pre>

	</section>
	
	<section id="tag">

		<h3>Tag</h3>
		<p>Use tags to display additional information such as item counts or categories. Include @@mixin <code>tag</code> to turn any <code>span</code> element into a tag. Additional @@mixins are provided to alter the style to change emphasis. Optional styles to provide a <code>tag</code> class, and the various styles, are provided for convenience.</p>

			<div class="example">

				<span class="tag">default</span>
				<span class="tag primary">primary</span>
				<span class="tag positive">positive</span>
				<span class="tag warning">warning</span>
				<span class="tag negative">negative</span>

			</div>

			<pre class="example-code"><code class="language-markup">&lt;span class="tag"&gt;default&lt;/span&gt;
&lt;span class="tag primary"&gt;primary&lt;/span&gt;
&lt;span class="tag positive"&gt;positive&lt;/span&gt;
&lt;span class="tag warning"&gt;warning&lt;/span&gt;
&lt;span class="tag negative"&gt;negative&lt;/span&gt;</code></pre>

			<pre class="example-code"><code class="language-css">.tag {
	@@include tag;
    &.primary {
        @@include tag-primary;
    }
    &.positive {
        @@include tag-positive;
    }
    &.warning {
        @@include tag-warning;
    }
    &.negative {
        @@include tag-negative;
    }
}</code></pre>

	</section>

<!--
	<article id="tab-view">

		<h3>Tab View <a href="#tab-view-doc" class="fb-label info">more info </a></h3>
		<p>Standard tabbed content panes, enough said.</p>

		<div class="fb-tabview">
			<ul class="fb-tabview-tabs">
				<li><a href="#One">One</a></li>
				<li><a href="#Two">Two</a></li>
				<li><a href="#Three">Three</a></li>
			</ul>
			<ul class="fb-tabview-content">
				<li id="One">One</li>
				<li id="Two">Two</li>
				<li id="Three">Three</li>
			</ul>
		</div>

		<div id="tab-view-doc" class="fb-modal documentation">

			<h3>Tab View</h3>

			<div class="example">

				<div class="fb-tabview">
					<ul class="fb-tabview-tabs">
						<li><a href="#One">One</a></li>
						<li><a href="#Two">Two</a></li>
						<li><a href="#Three">Three</a></li>
					</ul>
					<ul class="fb-tabview-content">
						<li id="One">One</li>
						<li id="Two">Two</li>
						<li id="Three">Three</li>
					</ul>
				</div>

			</div>

			<pre class="example-code"><code class="language-markup">&lt;div class="fb-tabview"&gt;
&lt;ul class="fb-tabview-tabs"&gt;
	&lt;li&gt;&lt;a href="#One"&gt;One&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href="#Two"&gt;Two&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href="#Three"&gt;Three&lt;/a&gt;&lt;/li&gt;
&lt;ul&gt;
&lt;ul class="fb-tabview-content"&gt;
	&lt;li id="One"&gt;One&lt;/li&gt;
	&lt;li id="Two"&gt;Two&lt;/li&gt;
	&lt;li id="Three"&gt;Three&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;</code></pre>

		</div>

	</article>

	<article id="tag-box">

		<h3>Tag Box <a href="#tag-box-doc" class="fb-label info">more info </a></h3>
		<p>A tag box is a simple text input that is designed to be used to quickly add or remove tags or items. Add class <code>.fb-tagbox</code> to any <code>input</code>.</p>

		<input class="fb-tagbox" type="text" value="foo,pie,bar"/>

		<div id="tag-box-doc" class="fb-modal documentation">

			<h3>Tag Box</h3>
			<p>A tag box is a simple text input that is designed to be used to quickly add or remove tags or items. Add class <code>.fb-tagbox</code> to any <code>input</code>.</p>

			<div class="example">

		   		<input class="fb-tagbox" type="text" value="foo,pie,bar"/>

			</div>

			<pre class="example-code"><code class="language-markup">&lt;input class="fb-tagbox" type="text" value="foo,pie,bar"/&gt;</code></pre>

		</div>

	</article>

	<article id="toggle">

		<h3>Toggle <a href="#toggle-doc" class="fb-label info">more info </a></h3>
		<p>A toggle is a control to switch between two options, usually on/off. Add class <code>.fb-toggle</code> to any <code>input</code>.</p>

		<input class="fb-toggle" type="checkbox">
		<input class="fb-toggle" type="checkbox" checked data-label-on="True" data-label-off="False">

		<div id="toggle-doc" class="fb-modal documentation">

			<h3>Toggle</h3>
			<p>A toggle is a control to switch between two options, usually on/off. Add class <code>.fb-toggle</code> to any <code>input</code>.</p>

			<div class="example">

				<input class="fb-toggle" type="checkbox">
				<input class="fb-toggle" type="checkbox" checked data-label-on="True" data-label-off="False">

			</div>

			<pre class="example-code"><code class="language-markup">&lt;input class="fb-toggle" type="checkbox"&gt;
&lt;input class="fb-toggle" type="checkbox" checked data-label-on="True" data-label-off="False"&gt;</code></pre>

			<h4>Options</h4>
			<p>The toggle control has a few options for setting if the toggle is checked, and the labels to display for each state</p>
			<table>
				<thead>
					<tr>
						<th>Option</th>
						<th>Description</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td><code>checked</code></td>
						<td>Set the toggle to the checked, or switched on state</td>
					</tr>
					<tr>
						<td><code>data-label-on</code></td>
						<td>Set the label for the checked, or switched on state</td>
					</tr>
					<tr>
						<td><code>data-label-off</code></td>
						<td>Set the label for the unchecked, or switched off state</td>
					</tr>
				</tbody>
			</table>

		</div>

	</article>

	<article id="slider">

		<h3>Slider <a href="#slider-doc" class="fb-label info">more info </a></h3>
		<p>A slider allows multiple content elements to be displayed to the user as a slideshow.  Add class <code>.fb-slider</code> to any list element, <code>ul</code> or <code>ol</code>, to turn it into a content slider.</p>

		<div>
			<ul class="fb-slider" style="height: 500px;">
				<li><img src="http://getbootstrap.com/2.3.2/assets/img/bootstrap-mdo-sfmoma-01.jpg" /></li>
				<li><img src="http://getbootstrap.com/2.3.2/assets/img/bootstrap-mdo-sfmoma-02.jpg" /></li>
				<li><img src="http://getbootstrap.com/2.3.2/assets/img/bootstrap-mdo-sfmoma-03.jpg" /></li>
			</ul>
		</div>

		<div id="slider-doc" class="fb-modal documentation">

			<h3>Slider</h3>
			<p>A slider allows multiple content elements to be displayed to the user as a slideshow.  Add class <code>.fb-slider</code> to any list element, <code>ul</code> or <code>ol</code>, to turn it into a content slider.</p>

			<div class="example">

				<div>
					<ul class="fb-slider" style="height: 500px;">
						<li><img src="http://getbootstrap.com/2.3.2/assets/img/bootstrap-mdo-sfmoma-01.jpg" /></li>
						<li><img src="http://getbootstrap.com/2.3.2/assets/img/bootstrap-mdo-sfmoma-02.jpg" /></li>
						<li><img src="http://getbootstrap.com/2.3.2/assets/img/bootstrap-mdo-sfmoma-03.jpg" /></li>
					</ul>
				</div>

			</div>

			<pre class="example-code"><code class="language-markup">&lt;ul class="fb-slider" style="height: 280px;"&gt;
   &lt;li&gt;&lt;img src="/assets/img/bootstrap-mdo-sfmoma-01.jpg" /&gt;&lt;/li&gt;
   &lt;li&gt;&lt;img src="/assets/img/bootstrap-mdo-sfmoma-02.jpg" /&gt;&lt;/li&gt;
   &lt;li&gt;&lt;img src="/assets/img/bootstrap-mdo-sfmoma-03.jpg" /&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>

		</div>

	</article>
-->

</section>