/*
base/tables.scss
*/

@import "../global.scss";

//
// Basic Table
//

table {
	max-width: 100%;
	width: 100%;
	margin-top: $line-height * 1em;
	margin-bottom: $line-height * 1em;
}

table th,
table td {
	padding: .5em;
	line-height: 1.625;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid $border-color;
}

table th {
	font-weight: bold;
}

table thead th {
	vertical-align: bottom;
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
	border-top: 0;
}

table tbody + tbody {
	border-top: 2px solid $border-color;
}

table table {
	background-color: #ffffff;
}

//
// Bordered Table
//

table.bordered {
	border: 1px solid $border-color;
	border-collapse: separate;
	*border-collapse: collapse;
	border-left: 0;
}

table.bordered th,
table.bordered td {
	border-left: 1px solid $border-color;
}

//
// Striped Table
//

table.striped tbody > tr:nth-child(odd) > td,
table.striped tbody > tr:nth-child(odd) > th {
	background-color: rgba(0,0,0,0.01);
}